[submodule "saarmae"]
	path = saarmae
	url = https://github.com/saarmae/noname_v0.0
[submodule "kirkeN"]
	path = kirkeN
	url = https://github.com/kirkeN/JavaProjektPrykkar
[submodule "viilveer"]
	path = viilveer
	url = https://github.com/viilveer/i200-spring-alkokalkulaator
[submodule "aSkib"]
	path = aSkib
	url = https://github.com/aSkib/eik-proj-spender.git
[submodule "triinteppo"]
	path = triinteppo
	url = https://github.com/triinteppo/numbrimang
[submodule "estakaad"]
	path = estakaad
	url = https://github.com/estakaad/Scrabble
[submodule "AntsPomm"]
	path = AntsPomm
	url = https://github.com/AntsPomm/ITcollegeJavaProject
[submodule "liina"]
	path = liina
	url = https://github.com/liina/i200projekt
[submodule "Marjup"]
	path = Marjup
	url = https://github.com/Marjup/Kooliprojekt
[submodule "manrico"]
	path = manrico
	url = https://github.com/manrico/TTT_srv
[submodule "kristisaare"]
	path = kristisaare
	url = https://github.com/kristisaare/JavaKursuseProjekt
[submodule "akepler"]
	path = akepler
	url = https://github.com/akepler/InFLUXGraph
[submodule "PriitTiganik"]
	path = PriitTiganik
	url = https://github.com/PriitTiganik/ennustaja/
[submodule "markokonsa"]
	path = markokonsa
	url = https://github.com/markokonsa/LemmikuLeidja
[submodule "PeepOks"]
	path = PeepOks
	url = https://github.com/PeepOks/i200-tsirkus
[submodule "AndrusSeiman"]
	path = AndrusSeiman
	url = https://github.com/AndrusSeiman/microCalJ
[submodule "Annely"]
	path = Annely
	url = https://github.com/Annely/PickMyBeer
[submodule "rlindstr"]
	path = rlindstr
	url = https://github.com/rlindstr/I200.git
[submodule "ahelisal"]
	path = ahelisal
	url = https://github.com/ahelisal/ABC
[submodule "rturi"]
	path = rturi
	url = https://github.com/rturi/i200Dodger
[submodule "KaskMartin"]
	path = KaskMartin
	url = https://github.com/KaskMartin/I200_FUNZ
[submodule "mihkelma"]
	path = mihkelma
	url = https://github.com/mihkelma/mafre
[submodule "kristaryytel"]
	path = kristaryytel
	url = https://github.com/kristaryytel/TheLearningGame
[submodule "epadjus"]
	path = epadjus
	url = https://github.com/epadjus/projekt
[submodule "tereoleneva"]
	path = tereoleneva
	url = https://github.com/tereoleneva/eva-esimene-projekt.git
[submodule "skelegon"]
	path = skelegon
	url = https://github.com/skelegon/Vidor.git
[submodule "koidermaa"]
	path = koidermaa
	url = https://github.com/koidermaa/MyTrading
[submodule "lii5a"]
	path = lii5a
	url = https://github.com/lii5a/fizzbuzz
[submodule "mailliam"]
	path = mailliam
	url = https://github.com/mailliam/BudgetPlanner.git
[submodule "ipruul"]
	path = ipruul
	url = https://github.com/ipruul/Projekt_Loomaaed
[submodule "kaitsu1"]
	path = kaitsu1
	url = https://github.com/kaitsu1/EsimeneProjekt
[submodule "KristiinaS"]
	path = KristiinaS
	url = https://github.com/KristiinaS/Project.git
[submodule "sikumiku"]
	path = sikumiku
	url = https://github.com/sikumiku/ArvutusGame.git
[submodule "airerihe"]
	path = airerihe
	url = https://github.com/airerihe/graafikugen.git
[submodule "humunuk"]
	path = humunuk
	url = https://github.com/humunuk/Projekt
[submodule "jnka"]
	path = jnka
	url = https://github.com/jnka/AanJanika.git
[submodule "siretsiilbaum"]
	path = siretsiilbaum
	url = https://github.com/siretsiilbaum/Projekt_Converter.git
[submodule "TiitP"]
	path = TiitP
	url = https://github.com/TiitP/i200_JavaProject.git
[submodule "agrigorj"]
	path = agrigorj
	url = https://github.com/agrigorj/first-steps
[submodule "hareintam"]
	path = hareintam
	url = https://github.com/hareintam/Projekt.git
[submodule "Andokiidron"]
	path = Andokiidron
	url = https://github.com/Andokiidron/todotasks.git
[submodule "toelt"]
	path = toelt
	url = https://github.com/toelt/Address_book
[submodule "kerstima"]
	path = kerstima
	url = https://github.com/kerstima/projekt-kerstima
[submodule "ltaimre"]
	path = ltaimre
	url = https://github.com/ltaimre/Peenar
[submodule "andreskostiv"]
	path = andreskostiv
	url = https://github.com/andreskostiv/shuffleMyWeb.git
[submodule "lecktor"]
	path = lecktor
	url = https://github.com/lecktor/stl2gcode
[submodule "EvelinJ"]
	path = EvelinJ
	url = https://github.com/EvelinJ/memoryGame
[submodule "MaksimC"]
	path = MaksimC
	url = https://github.com/MaksimC/javaProject.git
[submodule "kaabugavehkija"]
	path = kaabugavehkija
	url = https://github.com/kaabugavehkija/Caesar
[submodule "MarvenA"]
	path = MarvenA
	url = https://github.com/MarvenA/i200_java
[submodule "PeeterP"]
	path = PeeterP
	url = https://github.com/PeeterP/BiG
[submodule "whiisu"]
	path = whiisu
	url = https://github.com/whiisu/ShuffleMyWeb
[submodule "Mroosi"]
	path = Mroosi
	url = https://github.com/Mroosi/Mroosi.git
[submodule "jaagerm"]
	path = jaagerm
	url = https://github.com/jaagerm/ProjectHelper
[submodule "niinavo"]
	path = niinavo
	url = https://github.com/niinavo/ITcollegeJavaProject.git
[submodule "jurgenlatte"]
	path = jurgenlatte
	url = https://github.com/jurgenlatte/aratuskell.git
[submodule "kleemets"]
	path = kleemets
	url = https://github.com/kleemets/kleemetsProjektVol2.git
[submodule "Subucula"]
	path = Subucula
	url = https://github.com/Subucula/Ticket.git
[submodule "tyomhd"]
	path = tyomhd
	url = https://github.com/tyomhd/i200-FoodCalculator.git
[submodule "LMaria"]
	path = LMaria
	url = https://github.com/LMaria/EarTrainer
[submodule "kiilopapa"]
	path = kiilopapa
	url = https://github.com/kiilopapa/Projekt
[submodule "KairiKK"]
	path = KairiKK
	url = https://github.com/KairiKK/KursuseProjekt
[submodule "Maarija13"]
	path = Maarija13
	url = https://github.com/Maarija13/ProjectToDo
[submodule "hkosta"]
	path = hkosta
	url = https://github.com/hkosta/I200-projekt.git
[submodule "ITCNamba57"]
	path = ITCNamba57
	url = https://github.com/ITCNamba57/Java_Project.git
[submodule "relken"]
	path = relken
	url = https://github.com/relken/LennukiMang
[submodule "LiinaH"]
	path = LiinaH
	url = https://github.com/LiinaH/javaProjekt
